



 {{> menu id="dashboard"}}

<section class = "ui segment">
  {{> listplaylists}} {{!--imports in the the listplaylists partials --}}
  {{> addplaylist}} {{!-- adds the addplaylist partial --}}
</section>

